{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}{{ your_tasks }}{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
{% endblock %}

{% block nav %}
	<li class="active"><a href="/"><i class="icon-home icon-white"></i> {{ home }}</a></li>
	<li><a href="/t/all"><i class="icon-tasks"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block filter %}
	<div class="well well-small">
		<h5>Lorem ipsum:</h5>
		<small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</small>
	</div>
{% endblock %}

{% block header %}{{ your_tasks }}{% endblock %}

{% block actions %}
	<a class="btn" href="/t/new"><i class="icon-plus"></i> {{ new_ticket }}</a>
{% endblock %}

{% block content %}
		{% render_table tasks %}
{% endblock %}
