{% extends "base.html" %}

{% block title %}{{ person.get_full_name }}{% endblock %}

{% block head %}{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li><a href="/t/all"><i class="icon-tasks"></i> {{ tickets }}</a></li>
	<li class="active"><a href="/u/all"><i class="icon-user icon-white"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %}{{ person }}{% endblock %}

{% block actions %}
	<a class="btn" href="edit"><i class="icon-pencil"></i>{{ edit }}</a>
	<!--<a class="btn" href="#"><i class="icon-trash"></i>{{ delete }}</a>-->
	<a class="btn" href="json"><i class="icon-download-alt"></i> {{ export }}</a>
{% endblock %}

{% block content %}
	
	<div class="row-fluid">
		<div class="span3">
				<h6>{{ username }}: </h6><div class="well well-small">{{ person.username }}</div>
				<h6>{{ full_name }}: </h6><div class="well well-small well-small">{{ person.get_full_name }}</div>
				<h6>{{ email }}: </h6><div class="well well-small"><a href="mailto:{{ person.email }}">{{ person.email }}</a></div>
				<h6>{{ last_login }}: </h6><div class="well well-small">{{ person.last_login }}</div>
				<h6>{{ joined }}: </h6><div class="well well-small">{{ person.date_joined }}</div>
		</div>
		<div class="span3 offset3">
			{% if created_tickets %}
				<h6>{{ created }}: </h6>
				{% for ticket in created_tickets %}
					<div class="well well-small"><a href="/t/{{ ticket.id }}">{{ ticket }}</a></div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="span3">
			{% if assigned_tickets %}
				<h6>{{ assigned }}: </h6>
				{% for ticket in assigned_tickets %}
					<div class="well well-small"><a href="/t/{{ ticket.id }}">{{ ticket }}</a></div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}
