{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}{{ searching_for }} {{ query_string }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
{% endblock %}

{% block nav %}
	<li class="active"><a href="/"><i class="icon-home icon-white"></i> {{ home }}</a></li>
	<li><a href="/t/all"><i class="icon-tasks"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %}{{ searching_for }} {{ query_string }}{% endblock %}

{% block actions %}
	<a class="btn" href="/t/new"><i class="icon-plus"></i> {{ new_ticket }}</a>
	<a class="btn" href="/u/new"><i class="icon-plus"></i> {{ new_user }}</a>
	<a class="btn" href="#"><i class="icon-star-empty"></i> {{ save }}</a>
{% endblock %}


{% block content %}
	{% if found_tickets %}
		{% render_table ticket_table %}
	{% endif %}
	{% if found_persons %}
		<br>
		{% render_table person_table %}
	{% endif %}
{% endblock %}
