{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{{ ticket_list }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/t/all"><i class="icon-tasks icon-white"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block filter %}
	
{% endblock %}

{% block header %}{{ ticket_list }}{% endblock %}

{% block actions %}
	
{% endblock %}

{% block content %}
	<form action="{% url 'set_language' %}" method="post">
		{% csrf_token %}
		<input name="next" type="hidden" value="{{ redirect_to }}" />
		<select name="language">
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
				<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
			{% endfor %}
		</select>
		<input type="submit" value="Go" />
	</form>
{% endblock %}
