{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}{{ ticket_list }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/t/all"><i class="icon-tasks icon-white"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block filter %}
	{% if user.is_authenticated %}
		{% include "django_tables2_simplefilter/filter_selection.html" with filters=filters only %}
	{% endif %}
{% endblock %}

{% block header %}
	{% if user.is_authenticated %}	
		{{ ticket_list }}
	{% endif %}	
{% endblock %}

{% block actions %}
	{% if user.is_authenticated %}
		<a class="btn" href="/t/new"><i class="icon-plus"></i> {{ new_ticket }}</a>
		<a class="btn" href="json"><i class="icon-download-alt"></i> {{ export }}</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		{% render_table table %}
	{% else %}
		<div class="alert">
			Your session has expired, please log in.
		</div>
		<a class="btn" href="/login">{{ login }}</a>
	{% endif %}
{% endblock %}
