{% extends "base.html" %}

{% block title %}{{ delete }} {{ ticket.title }}{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/t/all"><i class="icon-tasks icon-white"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %}{{ delete }} {{ ticket.title }}{% endblock %}

{% block actions %}
{% endblock %}


{% block content %}
	<form method="post">{% csrf_token %}
		<button type="submit" class="btn primary-btn">Ja</button>
		<a href="/t/{{ ticket.id }}" class="btn">Nein</a>
	</form>
{% endblock %}
