{% extends "base.html" %}
{% load wysiwyg %}
{% load comments %}

{% block title %}{{ ticket.title }}{% endblock %}

{% block head %}{% wysiwyg_setup %}{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/t/all"><i class="icon-tasks icon-white"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %} {{ ticket.title }} {% endblock %}

{% block actions %}
	<a class="btn" href="edit"><i class="icon-pencil"></i> {{ edit }}</a>
	{% if user.id == ticket.creator.id %}
		<a class="btn" href="delete"><i class="icon-trash"></i> {{ delete }}</a>
	{% endif %}
	<a class="btn" href="json"><i class="icon-download-alt"></i> {{ export }}</a>
{% endblock %}

{% block content %}
{{ message }}
{% get_comment_count for ticket as comment_count %}

	<div class="row-fluid">

		<div class="span3">
			<h6>{{ creator }}: </h6><div class="well well-small"><a href="/u/{{ ticket.creator.id }}">{{ ticket.creator }}</a></div>
			<h6>{{ category }}: </h6><div class="well well-small well-small">{{ ticket.get_category_display }}</div>
			<h6>{{ priority }}: </h6><div class="well well-small">{{ ticket.get_priority_display }}</div>
			<h6>{{ status }}: </h6><div class="well well-small">{{ ticket.get_status_display }}</div>
			<h6>{{ resolution }}: </h6><div class="well well-small">{{ ticket.get_resolution_display }}</div>
		</div>
		<div class="span3">
			<h6>{{ reported }}: </h6><div class="well well-small well-small">{{ ticket.open_date }}</div>
			<h6>{{ modified }}: </h6><div class="well well-small well-small">{{ ticket.last_activity }}</div>
			<h6>{{ comments }}: </h6><div class="well well-small well-small">
				{{ comment_count }}<a class="btn btn-link" href="#cke_id_comment" style="padding:0; margin: 0 12px;">Reply</a>
			</div>
		</div>
		<div class="span3 offset3">
			<h6>{{ assigned }}: </h6>
			{% for assignee in assignees %}
				<div class="well well-small"><a href="/u/{{ assignee.id }}">{{ assignee }}</a></div>
			{% endfor %}
		</div>
	</div>
	
	<h6>{{ description }}: </h6>
	<div class="well" id="c0">
		<div class="row-fluid">
			<div class="span5">{{ ticket.creator.get_full_name }} (:<a href="/u/{{ ticket.creator.id }}">{{ ticket.creator.username }}</a>)</div>
			<div class="span5">{{ ticket.open_date }}</div>
		</div>
		<div class="row-fluid">
			<div class="span12 comment">
				{{ ticket.description }}
				<a class="pull-right" href="#c0">#0</a>
			</div>
			
		</div>
	</div>
	
	<h6>{{ comments }}: </h6>
	{% get_comment_list for ticket as comment_list %}
	{% for comment in comment_list %}
		<div class="well" id="c{{ forloop.counter }}">
			{% if user == comment.user %}
				<div class="pull-right"><a href="/comments/delete/{{ comment.id }}"><i class="icon-trash"></i></a></div>
			{% else %}
				<div class="pull-right"><a href="/comments/flag/{{ comment.id }}"><i class="icon-flag"></i></a></div>
			{% endif %}
			<div class="row-fluid">
				<div class="span5">{{ comment.user.get_full_name }} (:<a href="/u/{{ comment.user.id }}">{{ comment.user.username }}</a>)</div>
				<div class="span5">{{ comment.submit_date }}</div>
			</div>
			<hr></hr>
			<div class="row-fluid">
				<div class="span12 comment">
					{% autoescape off %}
						{{ comment.comment }}
					{% endautoescape %}
					<a class="pull-right" href="#c{{ forloop.counter }}">#{{ forloop.counter }}</a>
				</div>
				
			</div>
		</div>
	{% endfor %}
	
	<div class="well">
	{% if user.is_authenticated %}
		{% get_comment_form for object as form %}
		<form action="{% comment_form_target %}" method="POST">
		{% csrf_token %}
		{{ form.comment }}
		{% wysiwyg_editor "id_comment" %}
		{{ form.honeypot }}
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}
			<input type="hidden" name="next" value="/t/{{ ticket.id }}" />
			<div class="form-actions">
				<button class="btn btn-primary" type="submit" id="id_submit" /><i class="icon-comment icon-white"></i> {{ add_comment }}</button>
			</div>
		</form>
	{% else %}
		<p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
	{% endif %}
	</div>
	
{% endblock %}
