{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ edit_ticket }}{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/t/all"><i class="icon-tasks icon-white"></i> {{ tickets }}</a></li>
	<li><a href="/u/all"><i class="icon-user"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %}{{ edit_ticket }}{% endblock %}

{% block content %}
	<form action="#" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ save }}</button>
			<button type="button" class="btn" onClick="history.back()"/>{{ cancel }}</button>
		</div>
	</form>
{% endblock %}