{% extends "admin/change_form.html" %}

{% block object-tools %}
	{% block pre-object-tools %}{% endblock %}
	{{ block.super }}
	<ul class="object-tools" style="margin:0 auto;">
		<li>
			<a href="/admin/auth/user/{{ original.id }}/password/">
				Change Password
			</a>
		</li>
	</ul>
	
	<h2>{{ adminform.form.instance }}</h2>
{% endblock %}