{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account activated!" %}{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li><a href="/login"><i class="icon-lock"></i> {{ login }}</a></li>
	<li class="active"><a href="/register"><i class="icon-plus icon-white"></i> {{ register }}</a></li>
{% endblock %}

{% block header %}
	{% trans "Account activated!" %}
{% endblock %}

{% block content %}
	<a class="btn" href="/login">{{ login }}</a>
{% endblock %}