{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	{{ register }}
{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li><a href="/login"><i class="icon-lock"></i> {{ login }}</a></li>
	<li class="active"><a href="/register"><i class="icon-plus icon-white"></i> {{ register }}</a></li>
{% endblock %}

{% block header %}
	{{ register_new_account }}
{% endblock %}

{% block content %}
	<form action="/register/" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ register }}</button>
			<button type="reset" class="btn">{{ cancel }}</button>
		</div>
	</form>
{% endblock %}