{% extends "base.html" %}
{% load i18n %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li><a href="/login"><i class="icon-lock"></i> {{ login }}</a></li>
	<li class="active"><a href="/register"><i class="icon-plus icon-white"></i> {{ register }}</a></li>
{% endblock %}

{% block header %}
	{% trans "Registration complete" %}
{% endblock %}

{% block content %}
	{% trans "Check your email inbox for an activation link!" %}
{% endblock %}