{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Tikkets Admin{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans "Tikkets Admin" %}</h1>
{% endblock %}

{% block nav-global %}
	{% if user.is_staff %}
	<style type="text/css">
		.ml {margin:0 10px 10px;display:block;float:left}
	</style>

 
	<a href="/admin/" class="ml">{% trans "Admin home" %}</a>
	<a href="/admin/tikkets/ticket/" class="ml">{% trans "Tickets" %}</a>
<!--<a href="/admin/tikkets/person/?is_active__exact=0" class="ml">New Users</a>-->
	<a href="/admin/tikkets/person/" class="ml">{% trans "Persons" %}</a>
	<a href="/" clas="ml">{% trans "Website home" %}</a>
	{% endif %}
{% endblock %}