{% load i18n %}

{% trans "Welcome!" as welcome %}
{% trans "Simply the best." as welcome_headline %}
{% trans "<em>tikkets</em> is a brand-new, easy-to-use Ticket Management System. It's also completely free - So what are you waiting for?" as welcome_description %}

{% trans "Login" as login %}
{% trans "Register" as register %}
{% trans "Register a new account" as register_new_account %}

{% trans "Home" as home %}
{% trans "Tickets" as tickets %}
{% trans "Users" as users %}
{% trans "Settings" as settings %}
{% trans "Logout" as logout %}

{% trans "Search" as search %}
{% trans "Searching for" as searching_for %}
{% trans "Export" as export %}

{% trans "Your Tasks" as your_tasks %}
{% trans "Edit" as edit %}
{% trans "Delete" as delete %}

{% trans "Create" as create %}
{% trans "Save" as save %}
{% trans "Cancel" as cancel %}

{% trans "New User" as new_user %}
{% trans "Create a new user" as create_new_user %}
{% trans "Edit User" as edit_user %}
{% trans "User List" as user_list %}

{% trans "Username" as username %}
{% trans "Full Name" as full_name %}
{% trans "Email" as email %}
{% trans "Last Login" as last_login %}
{% trans "Joined" as joined %}

{% trans "New Ticket" as new_ticket %}
{% trans "Create a new ticket" as create_new_ticket %}
{% trans "Edit Ticket" as edit_ticket %}
{% trans "Ticket List" as ticket_list %}

{% trans "Title" as title %}
{% trans "Description" as description %}
{% trans "Created" as created %}
{% trans "Assigned to" as assigned %}
{% trans "Creator" as creator %}
{% trans "Assignee" as assignee %}
{% trans "Category" as category %}
{% trans "Priority" as priority %}
{% trans "Status" as status %}
{% trans "Resolution" as resolution %}
{% trans "Reported" as reported %}
{% trans "Modified" as modified %}
{% trans "Comments" as comments %}
{% trans "Add Comment" as add_comment %}


<!DOCTYPE html>
<html>
	<head>
		<title>tikkets | {% block title %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="http://192.168.56.101/static/img/favicon.ico" />
		<!-- Bootstrap -->
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link href="{{STATIC_URL}}css/filter.css" rel="stylesheet" />
		<style>
			#id_honeypot {display: none;}
			#id_comment {width: 98%; font-family: Monaco,Menlo,Consolas,"Courier New",monospace;}
			.comment {
				-ms-word-break: break-all;
				word-break: break-all;
				// Non standard for webkit
				word-break: break-word;
			}
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
		<!-- Container -->
		<div class="container-fluid" style="max-width:1000px;">
			<!-- Titlebar -->
			<div class="row-fluid">
				<div class="span10 offset2">
					<h2><a href="/">tikkets</a></h2>
				</div>
			</div>
			
			<!-- Rest -->
			<div class="row-fluid">
				<!-- Navigation -->
				<div class="span2">
					<ul class="nav nav-list">
						{% block nav %}{% endblock %}
						<li class="divider"></li>
					</ul>
					{% block filter %}{% endblock %}
				</div>
				<!-- Content -->
				<div class="span10">
					
					<div class="row-fluid">
						<div class="span10"><h4>{% block header %}{% endblock %}</h4></div>
					</div>
					
					<!-- Toolbar -->
					<div class="row-fluid">
						<div class="span6">
							<div class="btn-toolbar">
								<div class="btn-group">
									{% block actions %}{% endblock %}
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="btn-toolbar">
							{% if user.is_authenticated %}
								<form action="/search/" method="get" class="pull-right">
									<div class="input-append">
										<input class="input-medium" id="appendedInputButton" type="text" name="q" placeholder="{{ search }}" />
										<button class="btn addon" type="submit"><i class="icon-search"></i></button>
									</div>
								</form>
							{% endif %}
							</div>
						</div>
					</div>
					
					{% block content %}{% endblock %}
					{{ login_form }}
					
				</div>
			</div>
		</div>
		{% include "scripts.html" %}
	</body>
</html>
