{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ login }}{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li class="active"><a href="/login"><i class="icon-lock icon-white"></i> {{ login }}</a></li>
	<li><a href="/register"><i class="icon-plus"></i> {{ register }}</a></li>
{% endblock %}

{% block header %}{{ login }}{% endblock %}

{% block content %}
	{% if error %}
		<div class="alert alert-error">
			{{ error }}
		</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success">
			{{ success }}
		</div>
	{% endif %}
	<form action="/login/" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ login }}</button>
			<button type="reset" class="btn">{{ cancel }}</button>
		</div>
	</form>
{% endblock %}
