<script type="text/javascript">
function getParam(variable){ 
     var query = window.location.search.substring(1);  
     var vars = query.split("&"); 
      for (var i=0;i<vars.length;i++) {   
            var pair = vars[i].split("=");  
            if(pair[0] == variable){return pair[1];}
       }       return(false);
}
</script>
<script type="text/javascript" src="http://192.168.56.101/static/js/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://192.168.56.101/static/js/bootstrap.min.js"></script>
