{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ login }}{% endblock %}

{% block nav %}
	<li class="active"><a href="/"><i class="icon-home icon-white"></i> {{ home }}</a></li>
	<li><a href="/login"><i class="icon-lock"></i> {{ login }}</a></li>
	<li><a href="/register"><i class="icon-plus"></i> {{ register }}</a></li>
{% endblock %}

{% block header %}{{ welcome }}{% endblock %}

{% block content %}
<div class="hero-unit">
	<h1>{{ welcome_headline }}</h1>
		<p>{{ welcome_description }}</p>
	<div class="btn-toolbar">
		<a href="/register" class="btn btn-primary btn-large">{{ register }}</a>
		<a href="/login" class="btn btn-large">{{ login }}</a>
	</div>
</div>
{% endblock %}
