{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	{{ new_user }}
{% endblock %}

{% block nav %}
	<li><a href="/"><i class="icon-home"></i> {{ home }}</a></li>
	<li><a href="/t/all"><i class="icon-tasks"></i> {{ tickets }}</a></li>
	<li class="active"><a href="/u/all"><i class="icon-user icon-white"></i> {{ users }}</a></li>
	<li><a href="/settings"><i class="icon-wrench"></i> {{ settings }}</a></li>
	<li><a href="/logout"><i class="icon-off"></i> {{ logout }}</a></li>
{% endblock %}

{% block header %}
	{{ create_new_user }}
{% endblock %}

{% block content %}
	<form action="/u/new/" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ create }}</button>
			<button type="button" class="btn" onClick="history.back()"/>{{ cancel }}</button>
		</div>
	</form>
{% endblock %}